<div class="commentContainer">
  <input type="hidden" name="post-id" value="{{id}}"/>
  <h3>Comment:</h3>
  <div class="commentContent">
    <p>{{content}}</p>
    <br>
    <p>-{{user.userName}}, {{formatDate date}}</p>
  </div>
</div>
