<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>The Tech Blog</title>
</head>

<body>
    <header>
        <nav>
            <ul id="navList">
                <li class="navLink"><a class="navClick" href="/">Home</a></li>
                <li class="navLink"><a class="navClick" href="/api/dashboard">Dashboard</a></li>
                {{#if session.loggedIn}}
                <li class="navLink"><a id="logout" class="navClick" href="#">Logout</a></li>
                {{else}}
                <li class="navLink"><a class="navClick" href="/login">Login/SignUp</a></li>
                {{/if}}
            </ul>
            <div id="headerName">
                <h1>The Tech Blog</h1>
            </div>
        </nav>
    </header>
    <main id="pageMain">
        {{{body}}}
    </main>

    <script src="/js/logout.js"></script>
</body>

</html>