<section>
  <div class="loginContainer">
    <h2>Log In:</h2>
    <form class="loginForm">
      <div>
        <label class="formLabel">Username:</label>
        <input class="formInput" type="text" id="usernameLogin" />
      </div>
      <div>
        <label class="formLabel">Password:</label>
        <input class="formInput" type="password" id="passwordLogin" />
      </div>
      <div>
        <button class="loginBtn" type="submit">Log In</button>
      </div>
    </form>
  </div>
  <div class="loginOR">
    OR
  </div>
  <div class="loginContainer">
    <h2>Sign Up:</h2>
    <form class="signupForm">
      <div>
        <label class="formLabel">Username:</label>
        <input class="formInput" type="text" id="usernameSignup" />
      </div>
      <div>
        <label class="formLabel">Password:</label>
        <input class="formInput" type="password" id="passwordSignup" />
      </div>
      <div>
        <button class="loginBtn" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</section>

<script src="/js/login.js"></script>